{% extends 'base_logged.html.twig' %}

{% block content %}
    <h1 class="content_header">Składniki dla posiłku: {{ mealName }}</h1>

    <div>
        <div>
            {{ form_start(form) }}
            {{ form_errors(form.quantity) }}
            {{ form_widget(form.quantity, {'attr': {'placeholder': 'ilość', 'class':'fos_register_div'}}) }}
            {{ form_errors(form.product) }}
            {{ form_widget(form.product, {'attr': {'class': 'fos_register_div select'}}) }}
            <input type="submit" value="Dodaj" class="fos_register_div submit form_submit"/>
            {{ form_end(form) }}
        </div>
    </div>


{#    <ul>
        <li>
            <a href="{{ path('ingredient_index') }}">Back to the list</a>
        </li>
    </ul>#}
{% endblock %}
