{% extends 'base_logged.html.twig' %}

{% block content %}
    <div class="container content">
        <div class="row pb-4">
            <div class="col-lg-12 text-center">
                <span class='content-header'>Propozycja diety</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <span> Poniżej została wygenerowana dla ciebie dieta. Sprawdź czy ci się podoba, poustawiaj dni według
                    własnej kolejności i potwierdź. Klikając w posiłek podejrzysz jego szczegóły a najeżdżając na dzień,
                    wyświetlisz dzienne podsumowanie.</span>
            </div>
        </div>

        <table id="diet" class="table" data-rule="{{ dietRule.id }}">
            <thead class="text-center">
            <tr>
                <th rowspan="2" class="">dzień</th>
                <th colspan="5">posiłek</th>
            </tr>
            <tr>
                <th>śniadanie</th>
                <th>brunch</th>
                <th>lunch</th>
                <th>obiad</th>
                <th>kolacja</th>
            </tr>
            </thead>
            <tbody class="text-center">
                {% for day, meals in diet %}
                <tr class="day">
                    <td data-day = {{ day }} class="day-td" title="">{{ day }}</td>
                    {% for meal in meals %}
                        {%  set details = {
                            'id': meal.id,
                            'name': meal.name,
                            'type': meal.type,
                            'energy': meal.energyKcal,
                            'protein': meal.proteinG,
                            'carbohydrates': meal.carbohydratesG,
                            'fat': meal.fatG,
                            'avgCost': meal.averageCost,
                            'description': meal.description
                        } %}
                    <td data-meal="{{ meal.id }}"  data-details="{{ details | json_encode() }}" class="meal">{{ meal.name }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row py-4 text-center">
            <div class="col-lg-3 offset-lg-3">
                <div id="save-diet" class="button button-center">Jest ok, zapisujemy</div>
            </div>
            <div class="col-lg-3">
                <div id="refresh-diet" class="button button-center">Spróbujmy inną</div>
            </div>
        </div>
    </div>
{#    <div id="dialog"></div>#}
{% endblock content %}