{% extends 'base_logged.html.twig' %}

{% block content %}

    <div class="container content">
        <div class="row pb-4">
            <div class="col-lg-12 text-center">
                <span class='content-header'>Lista diet</span>
            </div>
        </div>

        {% set counter = 0 %}
        <div class="row pb-4">
            <div class="col-lg-4 text-right">lp</div>
            <div class="col-lg-4 text-center">Data stworzenia</div>
            <div class="col-lg-4 text-left">akcje</div>
        </div>
        {% for diet in diets %}
            {%set counter = counter + 1%}
            <div class="row pb-3">
                <div class="col-lg-4 border-right text-right">
                    <span>{{ counter }}</span>
                </div>
                <div class="col-lg-4 text-center">
                    <span>{{ diet[150]|date('Y-m-d') }}</span>
                </div>
                <div class="col-lg-4 text-left">
                    <ul class='table-links'>
                        <li><a class='table-links-color' href='{{ path("createddiet_show", { 'dietRuleId': diet[151] })}}'>Pokaż</a></li>
                        <li><a class='table-links-color' href='{{ path("createddiet_delete", { 'id': diet[151] })}}'>Usuń</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}

        <div class="row py-4">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="button button-center">
                    <a href="{{ path('diet_rules_new') }}" class="form_submit link-create-diet">stwórz nową dietę</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
