{% extends 'base_logged.html.twig' %}


{% block content %}

    <h1>Stworzona dieta</h1>
    {% set counter = 0 %}
    <table>
        <tr>
            <th>numer</th>
            <th>posiłek</th>
            <th>typ</th>
            <th>wartość energetyczna [kcal]</th>
            <th>białko [g]</th>
            <th>węglowodany [g]</th>
            <th>tłuszcz [g]</th>
            <th>średni koszt [pln]</th>
            <th>szczegóły</th>
        </tr>

        {% for meal in meals%}
            <tr>
                <td>{% set counter = counter + 1 %}
                    {{counter}}</td>
                <td>{{meal.name}}</td>
                <td>{{meal.type}}</td>
                <td>{{meal.energyValueKcal}}</td>
                <td>{{meal.proteinG}}</td>
                <td>{{meal.carbohydratesG}}</td>
                <td>{{meal.fatG}}</td>
                <td>{{meal.averageCost}}</td>
                <td><span>rozwiń opis</span>
                    {{meal.description}}</td>
            </tr>
        {%endfor%}

    </table>


{% endblock content %}
