<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DSL Generator{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/DSLBundle/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id='container'>
            {% block body %}
                {% block header %}
                    <div>
                        <ul class='menu-header'>
                            <li class='menu-header-options'><a href="{{ path('start') }}">Strona Główna</a></li>
                            <li class='menu-header-options'><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                            <li class='menu-header-options'><a href="{{ path('start') }}">Historia</a></li>
                            <li class='menu-header-options'><a href="{{ path('diet_rules_new') }}">Stwórz dietę!</a></li>
                            <li class='menu-header-options'><a href="{{ path('start') }}">o mnie</a></li>
                        </ul>
                    </div>
                {% endblock header %}

                <div id='content'>
                {% block content %}{% endblock content %}
            </div>

            {% block footer %}
                <div class="footer">
                    <div class="line"></div>
                    <div>Diet & Shopping List Generator</div>
                    <div>Michał Wiązek</div>
                </div>
            {% endblock footer%}
        {% endblock %}
    </div>
    {% block javascripts %}
        {% javascripts '@DSLBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


        {% endjavascripts %}
    {% endblock %}
</body>
</html>
