{% extends 'base_logged.html.twig' %}

{% block content %}
    <div class="container content">
        <div class="row pb-4">
            <div class="col-lg-12 text-center">
                <span class="content-header">Dodaj produkt</span>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row pb-4">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-right">
                <span>nazwa</span>
                {{ form_widget(form.name, {'attr':{'placeholder':'wpisz nazwę produktu', 'class':'form-field product-fields'}}) }}
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                {{ form_errors(form.averagePrice) }}
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-right">
                <span>średni koszt</span>
                {{ form_widget(form.averagePrice, {'attr':{'placeholder':'wpisz koszt produktu', 'class':'form-field product-fields'}}) }}
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                {{ form_errors(form.countable) }}
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-right">
                <span>policzalność</span>
                {{ form_widget(form.countable, {'attr':{'placeholder':'czy produkt jest policzalny?', 'class':'form-field product-fields'}}) }}            
            </div>
        </div>
        <div class="row py-4">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-right">
                <input class="button text-center" type="submit" value="dodaj" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
