{% extends 'base_logged.html.twig' %}

{% block content %}
    <h1 class="content_header">Dodaj produkt</h1>
    <div class="form_div">
        <div class="div_paddings">
    {{ form_start(form) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr':{'placeholder':'nazwa', 'class':'placeholders'}}) }}
    {{ form_errors(form.averagePrice) }}
    {{ form_widget(form.averagePrice, {'attr':{'placeholder':'średni koszt', 'class':'placeholders'}}) }}
    {{ form_errors(form.countable) }}
    {{ form_widget(form.countable, {'attr':{'placeholder':'policzalny?', 'class':'placeholders'}}) }}
    <input type="submit" value="dodaj" />
    {{ form_end(form) }}
        </div>
    </div>

    {#    <ul>
            <li>
                <a href="{{ path('product_index') }}">Back to the list</a>
            </li>
        </ul>#}
{#    {% include 'product/index.html.twig' %}#}
{% endblock %}
